$body_font: 'Open Sans', sans-serif;
$color_a: #fff; /*blanco*/
$color_b: #000; /*negro*/
$color_c: #2f1f1f; /*cafe oscuro*/
$color_d: #4a3a3a; /*cafe oscuro 2*/
$color_e: #e9e0b7; /*cafe claro*/
$color_f: #dbbe84; /*cafe claro 2*/
$color_g: #d96c41; /*naranjo*/
$color_h: #A9A4A0;
$color_i: #d3693f; /*naranjo bordes redes soc*/
$color_j: #f7d180; /*color letras box 2 y 3*/
$shadows: 2px 2px 8px #000;


