$body_font: 'Open Sans', sans-serif;
$color_a: #fff; /*blanco*/
$color_b: #000; /*negro*/
$color_c: #3F190F; /*cafe oscuro*/
$color_d: #5F1E0E; /*cafe oscuro 2*/
$color_e: #ECCCB2; /*cafe claro*/
$color_f: #EAA772; /*cafe claro 2*/
$color_g: #E36E11; /*naranjo*/
$color_h: #A9A4A0; /*naranjo*/

